body{
font-family:Arial;
margin:0;
text-align:center;
}

.main-title{
margin:10px;
}

#map{
height:85vh;
width:100%;
}

#searchBox{
width:320px;
padding:10px;
margin-bottom:10px;
font-size:14px;
}

.hub-popup{
width:380px;
font-family:Arial;
}

.title{
text-align:center;
border-bottom:2px solid black;
padding-bottom:5px;
margin-bottom:10px;
}

.box{
background:#d9d9d9;
padding:6px;
border-radius:6px;
margin-bottom:6px;
font-size:13px;
}

.full{
width:100%;
}

.grid2{
display:grid;
grid-template-columns:1fr 1fr;
gap:6px;
}

.section{
background:#bfbfbf;
text-align:center;
padding:6px;
border-radius:6px;
margin-bottom:8px;
font-weight:bold;
}

.direction-btn{
background:#2f7d57;
color:white;
padding:8px 14px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
}